@charset "utf-8";
.step_area{margin:60px auto 40px}
hr{width:1180px;margin:0 auto}
.area > h3{color:#ed1262;margin:80px 0 15px;font-weight:600}
.area > p{color:#4f4c4d;margin-bottom:40px}
.area .box{width:1180px;height:370px;border:1px solid #a7a5a6;box-sizing:border-box;background:#f0f0f0;padding:30px 20px;overflow-y:scroll}
.area .box p{color:#4f4c4d;line-height:24px}
.area .check{float:right;margin-top:20px}
.area table th{color:#fff;width:393px;font-weight:500;background:#a7a5a6;border-top:1px solid #a7a5a6;border-left:1px solid #d3d2d2;border-top:1px solid #a7a5a6;line-height:40px}
.area table th:first-child{border-left:1px solid #a7a5a6}
.area table th:last-child{border-right:1px solid #a7a5a6}
.area table .td_area1 td{width:393px;border:1px solid #d3d2d2;color:#4f4c4d;line-height:40px;text-align:center}
.area table .td_area2 td{width:393px;border:1px solid #d3d2d2;color:#4f4c4d;text-align:center;padding:10px 0;vertical-align:middle}
.area table .td_area2 td span{display:block;margin-top:7px}
.buttonUl{width:180px;margin:30px auto 0}
.pink_button a{color:#fff;font-size:24px;font-weight:600;text-align:center;width:180px;height:60px;line-height:60px;background:#ed1262;float:left}
.join_request > div > h3{color:#ed1262;margin:80px 0 10px;font-weight:600}
.join_request > div > p{color:#4f4c4d;padding-bottom:40px;border-bottom:1px solid #ccc}
.join_request > div > div{padding:20px 0;border-bottom:1px solid #ccc}
.join_request > div > div label{width:150px;float:left;line-height:40px;color:#231f20;font-weight:500}
.join_request > div > div label p span{color:#ed1262}
.three_wrap select{width:180px!important;float:left}
.three_wrap p.text{float:left;width:23px;line-height:40px;text-align:center}
.three_wrap input[type="text"]{width:180px;float:left}
.join_request > div > div textarea{width:932px;height:380px;background:#f0f0f0;border:1px solid #a7a5a6;box-sizing:border-box;padding:20px;color:#4f4c4d;font-size:16px;font-family:inherit}
.join_request > div > div label.files{width:500px!important}
.join_request > div > div .input_detail{color:#4f4c4d;clear:both;margin-left:150px;padding-top:20px;line-height:24px}
.join_request > div > div .input_detail span{color:#ed1262;font-weight:500}
.join_request > p{color:#f14181;float:right;margin:10px 0 80px}
.join_request .address_block{display:block;margin-left:150px;margin-top:10px}
.join_request .white_button{border-color:#241f20!important;margin-left:-3px}
.join_request .etc{clear:both}
.join_request .etc .agree_margin{padding:7px 0!important}
.check_wrap{float:left;margin-right:10px;margin-top:2px}
.join_request .etc .check_wrap{margin-top:14px}
.checkbox_area .detail_label{color:#231f20!important;font-weight:400!important;float:left;width:500px}
.join_request > div label[for="auto"]{line-height:80px}
.join_request > div .auto_box{width:205px;height:79px;border:1px solid #a7a5a6;box-sizing:border-box;float:left;margin-right:20px;background:#f0f0f0;padding-left:20px;position:relative}
.join_request > div .auto_box p{color:#4f4c4d;font-size:50px;line-height:77px}
.join_request > div .auto_box > div{width:40px;height:40px;border:1px solid #a7a5a6;box-sizing:border-box;cursor:pointer;background:#fff;position:absolute;right:-1px}
.join_request > div .auto_box > div.reset{top:-1px;background:url(../images/reset_btn.jpg) no-repeat center center}
.join_request > div .auto_box > div.speaker{bottom:-1px;background:url(../images/speaker_btn.jpg) no-repeat center center}
.join_request > div input[id="auto"]{width:205px;height:79px}
.join_request .btn{clear:both;width:380px;margin:30px auto 0}
.join_request input[value="작성완료"]{display:block;width:180px;height:60px;font-weight:600;color:#fff;font-size:24px;text-align:center;background:#ed1262;border:0;margin-right:20px;float:left;cursor:pointer}
.join_request input[value="작성취소"]{display:block;width:180px;height:60px;font-weight:600;color:#fff;font-size:24px;text-align:center;background:#7b7979;border:0;float:left;cursor:pointer}
h2.complete{color:#ed1262;font-weight:600;margin-top:60px;text-align:center}
h4.complete{color:#4f4c4d;text-align:center;margin:10px auto 60px}
.buttonUl2{width:380px;margin:0 auto}
.gray_button a{color:#fff;font-size:24px;font-weight:600;text-align:center;width:180px;height:60px;line-height:60px;background:#7b7979;float:left;margin-left:20px}
